

header {
  background-color: #7851a9;
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 1.5rem;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }
}

nav {
  background-color: #eee;
  color: #7851a9;
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  flex: 1;
}

nav li a {
  background-color: #7851a9;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}


nav li a:hover {
  background-color: #5e3f93;
  color: white;
}

@media only screen and (min-width: 600px) {
  nav ul {
    flex-wrap: nowrap;
  }
  
  nav li {
    flex: none;
  }
}
main section {
  display: none;
  transition: display 0.5s ease-in-out;
  /* you can adjust the duration and timing function as needed */
}
main section.show {
  display: block;
}

main {
  display: flex;
  justify-content: center;
}

section {
  background-color: #ddd;
  display: none;
  opacity: 0;
  padding: 20px;
  width: 80%;
  transition: opacity 0.5s ease-in-out;
}


section h2 {
  margin-top: 0;
}

section p {
  margin-bottom: 0;
}

@media only screen and (min-width: 600px) {
  section {
    display: flex;
    justify-content: center;
  }
  
  section:not(#about) {
    flex-direction: column;
    align-items: center;
  }
  
  #about {
    display: block;
  }
  
  #work {
    display: block;
  }
  
  #contact {
    order: 3;
  }
  
  #deep-learning {
    order: 2;
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  text-align: center;
}

.skill-item i {
  font-size: 48px;
  margin-bottom: 10px;
}

.butterfly-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.butterfly {
  position: absolute;
  bottom: 0;
  animation: move-butterfly 20s linear infinite;
}

@keyframes move-butterfly {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}


#work-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#work-list li {
  margin: 20px 0;
}

#work-list a {
  color: #7851a9;
  text-decoration: none;
}

#contact {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
  width: 80%;
}

textarea {
  height: 150px;
  resize: none;
}

input[type="submit"] {
  background-color: #7851a9;
  color: white;
  cursor: pointer;
  padding: 10px;
}


#botones{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
}
.botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.boton {
    background-color: #7851a9;
    border: none;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.boton.extra{
	font-size: 1em;
	background-color: #27A774;
	width: 150px;
}
.boton:hover {
    background-color: #3e8e41;
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0,0,0,0.3);
}