.fa,
.fa-stack {
  display: inline-block;
}
.main-navigation ul,
.site-sidebar .posts-list,
.tech-icons,
.tech-tags,
.timeline > ul {
  list-style: none;
}
.fa {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1;
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
hr,
legend,
td,
th {
  padding: 0px;
}
img,
legend {
  border: 0px;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dl-vertical dd,
.dl-vertical dt,
.main-navigation .navigation-extend-bar .social-icons,
.pull-left {
  float: left;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

.fa-twitter-square::before {
  content: "\f081"; /* Código del ícono de Twitter */
}

.fa-facebook-square::before {
  content: "\f082"; /* Código del ícono de Facebook */
}

.fa-linkedin-square::before {
  content: "\f08c"; /* Código del ícono de LinkedIn */
}

.fa-github-square::before {
  content: "\f092"; /* Código del ícono de GitHub */
}

.fa-bars::before,
.fa-navicon::before,
.fa-reorder::before {
  content: "";
}
.fa-envelope::before {
  content: "";
}
html {
  font-family: sans-serif;
  text-size-adjust: 100%;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0px;
}
[hidden],
template {
  display: none;
}
a {
  background: 0px 0px;
}
a:active,
a:hover {
  outline: 0px;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
optgroup,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: rgb(255, 255, 0);
  color: rgb(0, 0, 0);
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
pre,
textarea {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0px;
}
button {
  overflow: visible;
}
.dl-vertical,
.site-sidebar {
  overflow: hidden;
}
button,
select {
  text-transform: none;
}
.main-navigation,
.person .person-content .person-title,
.site-sidebar .block .block-title,
h1,
h2,
h5 {
  text-transform: uppercase;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  appearance: none;
}
fieldset {
  border: 1px solid silver;
  margin: 0px 2px;
  padding: 0.35em 0.625em 0.75em;
}
table {
  border-collapse: collapse;
  border-spacing: 0px;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font: 300 16px / 1.6 Roboto, Helvetica, sans-serif;
}
.button.button-red,
.home-section,
.person,
.project-subtitle,
.project-title,
h1,
h2 {
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
}
::selection {
  color: rgb(255, 255, 255);
  background: #7851a9;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 14px;
  font-weight: 300;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
strong {
  font-weight: 500;
}
hr {
  box-sizing: content-box;
  margin: 30px 0px;
  height: 1px;
  width: 100%;
  background: rgb(221, 221, 221);
  border: none;
}
.cv-tech-tags a:hover,
.main-navigation a,
.person,
.person:hover,
.portfolio-timeline .project-link,
.site-sidebar .posts-list a {
  text-decoration: none;
}
.button,
.icon,
.tech-icon {
  display: inline-block;
}
blockquote {
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid rgb(221, 221, 221);
}
.button {
  padding: 0.4em 0.8em;
  line-height: 1;
  margin-right: 1em;
}
.button.button-icon {
  padding: 0px;
  margin-right: 0.2em;
}
.button.button-red {
  background-color: #7851a9;
  border: 1px solid #7851a9;
  color: rgb(255, 255, 255);
  padding: 0.7em 1.2em;
  font-weight: 400;
}
.button.button-red:focus,
.button.button-red:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px inset;
}
.button:not(.button-icon) .fa,
.button:not(.button-icon) .icon {
  padding-right: 0.3em;
}
.block-title a,
.social-icons.social-icons a {
  color: rgba(255, 255, 255, 0.6);
}
.block-title a:hover,
.social-icons.social-icons a:hover {
  color: rgb(255, 255, 255);
}
body {
  background: rgb(246, 246, 246);
}
.site-sidebar {
  top: 0px;
  bottom: 0px;
  left: 0px;
  position: fixed;
  z-index: 2;
  width: 25%;
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-align: left;
  background:url("https://www.pixelstalk.net/wp-content/uploads/2016/06/Purple-galaxy-images-wallpapers.jpg") center/cover;
}
.site-sidebar .site-sidebar-inner {
  position: relative;
  height: 100%;
  overflow-y: auto;
  padding: 45px 40px;
}
.site-sidebar .site-sidebar-inner::-webkit-scrollbar {
  display: none;
}
.cv-header-meta,
.cv-section,
.cv-timeline-row,
.home-section .home-buttons,
.post .post-meta,
.row,
.tech-icons li,
.tech-tags li,
.timeline_element,
.timeline_element-contents {
  overflow: hidden;
}
.site-sidebar .block + .block {
  margin-top: 45px;
}
.site-sidebar .block .block-title {
  font-size: 11px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 15px;
}
.block-social {
  margin-top: 20px;
}
.site-sidebar .block-social {
  font-size: 22px;
}
html:not(.platform-mac) .site-sidebar .block-blog {
  display: none;
}
.person,
.site-sidebar .posts-list > li {
  display: block;
}
.site-sidebar .posts-list,
.site-sidebar .posts-list > li {
  margin: 0px;
  padding: 0px;
}
.site-sidebar .posts-list li {
  margin: 15px 0px;
}
.site-sidebar .posts-list a:focus .post-title,
.site-sidebar .posts-list a:hover .post-title {
  color: rgb(255, 255, 255);
}
.site-sidebar .posts-list .post-title {
  font-size: 14px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}
.site-sidebar .posts-list .post-date {
  color: rgba(204, 204, 204, 0.7);
  font-size: 13px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
}
.person {
  color: inherit;
}
.site-sidebar .person {
  text-align: center;
}
.person .person-avatar {
  border-radius: 50%;
  margin-bottom: 10px;
}
.person .person-avatar .avatar {
  width: 152px;
  height: 152px;
  border-radius: 50%;
}

.person-avatar img {
  max-width:200%;
  height: auto;
  align-items: center;
}

.person .person-content {
  margin-left: -40px;
  margin-right: -40px;
}
.person .person-content .person-title {
  font-size: 22px;
  font-weight: 500;
}
.person .person-content .person-subtitle {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
.main-navigation {
  margin: 45px -40px;
  line-height: 30px;
  position: relative;
  font-size: 14px;
}
.main-navigation .navigation-extend-bar {
  font-size: 18px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-image: initial;
  border-width: 1px 0px;
  padding: 0px 20px;
  display: none;
}
.main-navigation .navigation-extend-bar a {
  display: inline-block;
}
.navigation-extend-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.main-navigation .navigation-extend-bar .navigation-extend-button {
  width: 50%;
}
.main-navigation ul,
.main-navigation ul > li {
  margin: 0px;
  padding: 0px;
}
.main-navigation ul > li {
  display: block;
}
.main-navigation ul + ul {
  margin-top: 30px;
}
.main-navigation ul li {
  position: relative;
  padding: 0px 40px;
}
.main-navigation ul li a:hover,
.main-navigation ul li.current a {
  color: rgb(255, 255, 255);
}
.main-navigation a {
  color: rgba(255, 255, 255, 0.6);
  display: block;
}
.main-navigation a:focus,
.main-navigation a:hover {
  color: rgb(255, 255, 255);
}
.site-main {
  margin-left: 25%;
}
.site-main::before {
  position: fixed;
  inset: 0px auto 0px 0px;
  content: " ";
  display: block;
  width: 25%;
  background: url("../images/home-bg3.ef171b05.jpg") center top / cover
    no-repeat rgb(186, 186, 186);
}
.site-main .site-main-inner,
.timeline_element {
  position: relative;
}
.main-section {
  max-width: 850px;
  padding: 50px;
  color: rgb(3, 3, 3);
  background-image: linear-gradient(to bottom right, #e1d4f1, #eeecec);
}

.main-title {
  line-height: 1;
  margin-bottom: 15px;
  color: rgb(85, 85, 85);
}
.timeline {
  font-size: 16px;
  margin-left: -50px;
}
.timeline > ul,
.timeline > ul > li {
  margin: 0px;
  padding: 0px;
}
.timeline > ul > li {
  display: block;
}
.timeline_element-contents {
  padding: 30px 0px;
  margin-left: 160px;
}
.timeline.talks-timeline .timeline_element-date {
  width: 150px;
}
.timeline.talks-timeline .timeline_element-contents {
  margin-left: 180px;
}
.tech-tags a,
.tech-tags a:hover {
  background-color: #7851a9;
}
.home-section .home-buttons .button {
  user-select: none;
  text-transform: uppercase;
  font-weight: 300;
  text-decoration: none;
  opacity: 0.8;
  box-shadow: rgba(0, 0, 0, 0.47) 1px 1px 2px;
  margin-bottom: 1em;
}
.home-section .home-buttons .button:active,
.home-section .home-buttons .button:focus,
.home-section .home-buttons .button:hover {
  opacity: 1;
}
.portfolio-section {
  max-width: 1400px;
}
.portfolio-timeline .project-link {
  color: inherit;
}
.portfolio-timeline .project-link:hover {
  color: #7851a9;
}
.portfolio-timeline .project-text {
  width: 50%;
  float: left;
}
.portfolio-timeline .timeline_element.timeline_element--now .project-text {
  width: auto;
  float: none;
}
.portfolio-timeline .project-image {
  width: 50%;
  padding-left: 30px;
  text-align: center;
  float: left;
}
.portfolio-timeline .project-image img {
  max-width: 100%;
  max-height: 568px;
}
.portfolio-timeline .project-description:not(:first-child) {
  margin-top: 15px;
}
.portfolio-timeline .project-description:not(:last-child) {
  margin-bottom: 15px;
}
.portfolio-timeline .project-technologies {
  margin-top: 30px;
}
.project-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  margin-bottom: 0.3em;
}
.project-subtitle {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  text-transform: none;
}
.technologies-title {
  font-size: 12px;
  text-transform: uppercase;
  color: rgb(102, 102, 102);
  padding-bottom: 0.5em;
}
.tech-icons,
.tech-icons > li,
.tech-tags,
.tech-tags > li {
  margin: 0px;
  padding: 0px;
}
.tech-tags > li {
  display: block;
}
.tech-tags li {
  display: inline-block;
}
.tech-tags a {
  display: inline-block;
  color: rgb(255, 255, 255);
  padding: 4px 10px;
  font-size: 13px;
  text-transform: uppercase;
}
.project-section .project-descriptions .project-description {
  position: relative;
}
.project-section .project-descriptions .project-description > p:first-child,
.project-section .project-descriptions .project-description > ul:first-child {
  margin-top: 0px;
}
.project-section
  .project-descriptions
  .project-description
  ul:not(.tech-icons):not(.tech-tags) {
  padding-left: 20px;
}
.project-section .technologies-title {
  margin-top: 2em;
}
.post .post-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  margin-bottom: 10px;
  color: #7851a9;
  text-transform: none;
}
.post .post-date {
  font-style: italic;
}
.timeline.talks-timeline .talk-buttons .button {
  margin-top: 1em;
}
/* Responsive CSS */
@media (max-width: 768px) {
  .body,
  .tech-tags,
  .site-main p,
  .timeline,
  .project-description,
  .technologies-title,
  .project-title {
  font-size: 12px;
  }
  .project-title {
  font-size: 16px;
  }
  #sidebar {
  display: none;
  }
 
  /* Hide the site sidebar on small screens */
  .site-sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  }
  
  .project-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .project-image img {
    display: block;
    margin: 0 auto;
    width: 4000px; /* Adjust the width as desired */
    height: auto; /* Maintain the aspect ratio */
  }
  
  

  .main-section,
  .site-main,
  .portfolio-section {
    background-image: url('https://auto-chess.blogspot.com/2012/11/wallpaper-chess.html');
    background-size: cover;
    background-position: center;
}
  }

/* Add a media query for screens smaller than 768px */
@media (max-width: 768px) {
  
  
  /* Adjust the margin and padding of the site sidebar inner content */
  .site-sidebar .site-sidebar-inner {
    padding: 15px;
  }
  
  /* Adjust the margin and padding of the main navigation */
  .main-navigation {
    margin: 0;
    padding: 15px;
  }
  
  /* Adjust the margin of the main section */
  .site-main {
    margin-left: 0;
  }
  
  /* Adjust the background image of the site main */
  .site-main::before {
    content: none;
  }
  
  /* Adjust the width of the timeline elements in the portfolio section */
  .portfolio-timeline .project-text,
  .portfolio-timeline .project-image {
    width: 100%;
    float: none;
    padding-left: 0;
  }
  
  /* Adjust the margin of the project descriptions in the portfolio section */
  .portfolio-timeline .project-description:not(:first-child),
  .portfolio-timeline .project-description:not(:last-child) {
    margin-top: 0;
    margin-bottom: 0;
  }
  .tech-tags a{
    font-size: 8px;
  }

}